<!DOCTYPE html>
<html>
    <head>
        <a href="RESUME_.html"> <h1 style="color:rgb(209, 180, 136)"><-BACK</h1></a>
        <title> CONTACT INFORMATION </title>
        <style>
           .One{
            border-style: double;
            width: 300px;
            height: 400px;  
            padding: 50px;
            border-color: rgb(209, 187, 157);
            background: rgba(241, 207, 196, 0.877);
            text-align: justify;
           }
           img{
            width: 30px;
            height: 30px;
           }
           input[type=text] {
            width: 50%;
            height: 0;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            }

            input[type=submit], input[type=reset] {
            background-color: rgb(209, 187, 157);
            border: none;
            color: rgb(19, 16, 16);
            padding: 15px 30px;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            font-family: monospace;
            }

            h1{
            font-family:cursive;
            }
        </style>

    </head>
</html>

<body>
    <center>
    <div class="One">

    <h1 style="color:rgb(158, 149, 107);"> Drop a message </h1>
        <form>
            First Name:
                <input type="text" placeholder="Username"/>
                <br/>
            Email:
                <input type="text" placeholder="Email address"/>
                <br/>

                <textarea name="Description" cols="30" rows="10">Your message here... </textarea>
                <br/>

                <input type="submit" value="Submit">
                <input type="reset" value="Reset">

            </form>
                <a href="https://www.facebook.com/myra.abilay.5"> <img src="Facebook_Icon.jpg"></a>

            </div>
    </center>           
</body>